<main>
  <header>
    <h1>IP Address Tracker</h1>

    <form [formGroup]="ipForm" (ngSubmit)="getIpGeolocationInfo()">
      <div class="input-group">
        <input
          type="text"
          placeholder="Search for any IP address or domain"
          formControlName="ip"
        />
        <button type="submit">
          <img src="../assets/images/icon-arrow.svg" alt="icon-arrow-right" />
        </button>
      </div>
    </form>

    <div class="ip-geolocation-info">
      <app-ip-geo-info [ipGeoInfo]="ipGeoInfo$ | async"></app-ip-geo-info>
    </div>
  </header>

  <div class="map-wrapper">
    <app-map [coords]="(ipGeoInfo$ | async)?.coord"></app-map>
  </div>
</main>
