.wrapper {
  text-align: center;

  ul {
    display: grid;
    padding: 2rem;

    li {
      padding: 0 3.3rem;
      height: 100%;

      &:not(:last-child) {
        margin-bottom: 1.8rem;
      }

      p {
        font-weight: var(--font-weight-medium);
      }
    }
  }
}

@media screen and (min-width: 820px) {
  .wrapper ul {
    text-align: left;
    grid-template-columns: repeat(4, 1fr);

    li {
      position: relative;

      &:not(:first-child)::before {
        content: "";
        width: 1px;
        height: 100%;
        background-color: var(--color-dark-gray-100);
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}
