<div class="wrapper">
  <ul>
    <li>
      <h4>IP Address</h4>
      <p>{{ ipGeoInfo?.ip }}</p>
    </li>
    <li>
      <h4>Location</h4>
      <p *ngIf="ipGeoInfo?.status === 'success'">
        {{ ipGeoInfo?.location }}
      </p>
    </li>
    <li>
      <h4>Timezone</h4>
      <p>{{ ipGeoInfo?.timezone | date: "zzzz" | gmtToUtc }}</p>
    </li>
    <li>
      <h4>ISP</h4>
      <p>{{ ipGeoInfo?.isp }}</p>
    </li>
  </ul>

  <div *ngIf="ipGeoInfo?.status === 'fail'">
    <p class="errorMessage">{{ ipGeoInfo?.errorMessage }}</p>
  </div>
</div>
